@keyframes balancoLuz {
  0% {
    transform: rotate(0deg) translateX(-8px);
    box-shadow: 0 0 15px rgba(79, 209, 197, 0.4);
  }
  50% {
    transform: rotate(0deg) translateX(8px);
    box-shadow: 0 0 35px rgba(79, 209, 197, 0.8), 0 0 60px rgba(99, 102, 241, 0.4);
  }
  100% {
    transform: rotate(0deg) translateX(-8px);
    box-shadow: 0 0 15px rgba(79, 209, 197, 0.4);
  }
}

.animar-losango {
  animation: balancoLuz 5s ease-in-out infinite;
}

@keyframes balancoLuzRedondo {
  0% {
    transform: translateX(-10px);
    box-shadow: 0 0 15px rgba(79, 209, 197, 0.4);
  }
  50% {
    transform: translateX(10px);
    box-shadow: 0 0 35px rgba(79, 209, 197, 0.8), 0 0 60px rgba(99, 102, 241, 0.4);
  }
  100% {
    transform: translateX(-10px);
    box-shadow: 0 0 15px rgba(79, 209, 197, 0.4);
  }
}

.animar-redondo {
  animation: balancoLuzRedondo 5s ease-in-out infinite;
}